# ==========================================
# Virtual environments & Python Caches
# ==========================================
.venv/
venv/
__pycache__/
*.py[cod]       
.pytest_cache/  

# ==========================================
# Environment & Secrets
# ==========================================
.env
backend/.env
frontend/.env

# ==========================================
# Logs & OS Files
# ==========================================
*.log
.DS_Store       
.ipynb_checkpoints/ 

# ==========================================
# Data & Assets
# ==========================================
data/raw/
!backend/data/vector_store/